<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AkilliEntegre.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <AkilliEntegre.Properties.Settings>
            <setting name="APiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="APiUser" serializeAs="String">
                <value />
            </setting>
            <setting name="APiPass" serializeAs="String">
                <value />
            </setting>
            <setting name="APiUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="HBComision" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ExRate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CargoCompany" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxPurchase" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MinStock" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LastUpdate" serializeAs="String">
                <value />
            </setting>
        </AkilliEntegre.Properties.Settings>
    </userSettings>
</configuration>